#!/usr/bin/env python
PACKAGE = "dynamic_tutorials"

from dynamic_reconfigure.parameter_generator_catkin import *
#初始化 ros 并导入参数生成器。
gen = ParameterGenerator()
#创建生成器
'''
定义参数了。add 函数将参数添加到参数列表中。它需要几个不同的论点：

name - 一个字符串，指定应存储此参数的名称

paramtype - 定义存储的值的类型，可以是 int_t、double_t、str_t 或 bool_t 中的任何一个

level - 稍后将传递给动态重新配置回调的位掩码。调用回调时，已更改参数的所有级别值都一起 OR 处理，并将生成的值传递给回调。

description - 描述参数的字符串

default - 指定默认值

min - 指定最小值（可选，不适用于字符串和布尔值）

max - 指定 max 值（可选，不适用于字符串和布尔值）
'''
gen.add("int_param",    int_t,    0, "An Integer parameter", 50,  0, 100)
gen.add("double_param", double_t, 0, "A double parameter",    .5, 0,   1)
gen.add("str_param",    str_t,    0, "A string parameter",  "Hello World")
gen.add("bool_param",   bool_t,   0, "A Boolean parameter",  True)
#定义了不同类型的参数

size_enum = gen.enum([ gen.const("Small",      int_t, 0, "A small constant"),
                       gen.const("Medium",     int_t, 1, "A medium constant"),
                       gen.const("Large",      int_t, 2, "A large constant"),
                       gen.const("ExtraLarge", int_t, 3, "An extra large constant")],
                     "An enum to set size")

gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)
'''
在这里，我们定义一个整数，其值由枚举设置。为此，我们调用 gen.enum 并向其传递一个常量列表，然后传递枚举的描述。现在我们已经创建了一个枚举，现在可以将其传递给生成器。现在，参数可以设置为“小”或“中”，而不是 0 或 1。
'''

exit(gen.generate(PACKAGE, "dynamic_tutorials", "Tutorials"))
#告诉生成器生成必要的文件并退出程序；第二个参数是可以运行的节点的名称（仅用于生成文档），第三个参数是生成的文件将获得的名称前缀（例如，c++ 的“<name>Config.h”，或 python 的“<name>Config.py”。
#tip：第三个参数应等于 cfg 文件名，不带扩展名。否则，将在每次构建中生成库，强制重新编译使用它们的节点。

